.match-results-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.match-result-card {
    padding: 20px;
    background-color: white;
    color: black;
    margin: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    /* Ensure cards don't become too narrow on small screens */
    min-width: 280px; /* Adjust based on your design's needs */
}

.match-results-team-content,
.match-results-winner,
.match-result-card > div {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    gap: 10px; /* Adjust gap for better spacing */
    align-items: center;
    overflow-x: auto; /* Allow horizontal scrolling */
}

/* Adjustments for smaller screens */
@media screen and (max-width: 768px) {
    .match-result-card {
        padding: 10px;
        margin: 10px;
        overflow-y: auto; /* Allow vertical scrolling on smaller devices */
        max-height: 80vh; /* Prevent card from becoming too tall */
    }

    .match-results-team-content img,
    .match-results-winner img {
        height: 30px; /* Smaller images on mobile */
        width: 30px;
    }

    .match-results-team-content p,
    .match-results-winner p,
    .match-result-card > div p {
        font-size: 12px; /* Smaller font size for mobile */
    }
}

/* Ensure spinner and backdrop cover mobile screens appropriately */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
