.nav--container {
    display: flex;
    align-items: center;
    justify-content: space-around; /* Center the .center-container */
    padding: 1rem;
    background-color: black;
    color: white;
}

.center-container {
    display: flex;
    align-items: center;
    /* Adjust this value to manage spacing between logo and links */
}

.link-container--container {
    display: flex;
    gap: 0.8rem;
    padding: 1rem; /* Adjust or remove padding based on your design needs */
    color: white;
}

.link--container {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
.logo--container {
    display: flex;
    align-items: center;
}

.FNL-hockey {
    font-size: 2rem;
    font-style: italic;
}

.active {
    border-bottom: 3px solid #c6c6c6;
}

.hamburger-menu {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    gap: 1rem;
    z-index: 3000;
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
}

/* Responsive design */
@media (max-width: 768px) {
    .link-container--container {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }
}
