.button-style {
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button-style:hover {
    background-color: #040404;
    transform: scale(1.1);
}
.icon-button{
    display: flex;
    align-items: center;
    justify-content: center;
}