.card-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    padding: 20px;
    margin: 20px;
    color: black;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.tab-item {
    cursor: pointer;
}
