.input-style {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    border: 2px solid #ccc;
    box-sizing: border-box;
    background-color: #fff;
    color: black;
    border-radius: 10px;
}

.input-style:focus {
    border-bottom: 3px solid #555;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.special-input::placeholder {
  color: black;
  font-weight: bold;
  font-size: 18px;
}