.roll-call-Container {
    text-align: center;
}
.roll-call-content {
    text-align: center;
}

.status-display {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
}

.status-card {
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    width: 250px;
    background-color: #eeeeee;
}

.status-title {
    color: black;
}

.player-info {
    background-color: #d9d9d9;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    cursor: grab;
    font-weight: bold;
}
