
.game-item-container {
  margin: 10px;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.game-date {
  text-align: left;
  font-size: 24px;
  margin: 10px;
}

.game-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-table {
  width: 100%;
  border-collapse: collapse;
  height: 40px;
  border-top: 1px solid #ccc;
}

.game-table thead {
  background-color: #E0E0E0;
}

.game-table th, .game-table td {
  padding: 15px;
  text-align: center;
}

.matchup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.team-logo {
  height: 50px;
  width: 50px;
}
